Gmail SMTP port 

Originally posted by @tedr56:

> Not really an issue but for some reason, gmail smtp refuse 465 port with the plugin.
> `warn: [emailer.smtp] Unable to send `reset` email to uid 11!!`
>
> The alternative is using 587 port
> `info: [emailer.smtp] Sent `reset` email to uid 11`

Not only Gmail. Even many other email-providers use the port 587. It's defined for email submission in RFC 6409, RFC3207 and RFC 2476.